@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poly:ital@0;1&display=swap');
@import "tailwindcss";

@theme {
  --font-display:"POLO";
  --breakpoint-3xl:1920px;
  --color-primary: #875cF5;
}
@layer base{
  html{
    font-family: var(--font-display);
  }
  body{
    background-color: #fcfbfc;
    overflow-x:hidden;
  }

}
.input-box{
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}